# Core & Utilities
python-dotenv>=1.0.0
requests>=2.31.0
tqdm>=4.66.0

# Database & Warehouse
psycopg2-binary>=2.9.9

# Processing & Ingestion
duckdb>=1.0.0
pandas>=2.0.0

# Transformations
dbt-postgres>=1.7.0
